<!doctype html>
<html class="no-js" lang="cs-CZ">

<head>
  <meta charset="utf-8">
  <title>Je očkování bezpečné?</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Je očkování bezpečné?">
  <meta property="og:url" content="https://jeockovanibezpecne.cz">
  <meta property="og:image" content="">

  <!-- <link rel="stylesheet" href="//basehold.it/24"> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <main>
    <h1 class="question">Je očkování bezpečné?</h1>
    <p class="answer">Ano</p>
    <div class="comparison">
      <section class="vaccine">
        <h2>
          <img src="{{ url_for('static', filename='img/vaccine.svg') }}" alt="vakcína" />
          Vakcína
          <span>proti COVID-19</span>
        </h2>
        <p class="count vaccinated">{{ vaccinated | fmt_number }}</p>
        <h3>očkovaných</h3>
        <p class="count side-effects">{{ submit.submits | fmt_number }}</p>
        <h3 class="side-effects">hlášení<br/>vedlejších účinků</h3>
      </section>
      <section class="virus">
        <h2>
          <img src="{{ url_for('static', filename='img/virus.svg') }}" alt="koronavirus" />
          COVID-19
          <span>onemocnění</span>
        </h2>
        <p class="count covid-infected">{{ cases | fmt_number }}</p>
        <h3 class="covid-infected">nakažených</h3>
        <p class="count covid-deaths">{{ deads | fmt_number }}</p>
        <h3 class="covid-deaths">COVID<br/>úmrtí</h3>
      </section>
    </div>
    <p class="period">
      Data pro 🇨🇿 za období od&nbsp;<time>{{ date_from.date() | fmt_date }}</time>&nbsp;do&nbsp;<time>{{ date_for.date() | fmt_date }}</time>.
    </p>
    <p><b>Data hovoří jasně.</b> Očkování proti COVID-19 je skutečně bezpečné. Pouze někteří z nás projdou mírnými nežádoucími účinky.</p>
    <p>Očkování je naše <b>nejúčinnější zbraň</b> v boji proti pandemii koronaviru. Čím více lidí je očkováno, tím rychleji se vracíme k běžnému životu.</p>
    <p class="faq">
      <a href="https://www.iniciativa-snih.cz/nejcastejsi-dotazy-kolem-ockovani/">
        Chci vědět víc
      </a>
    </p>
  </main>
  <footer>
    <ul class="credits">
      <li>
        © <a href='https://www.iniciativa-snih.cz'>Iniciativa Sníh</a>
      </li>
      <li>
        Data sources:
        <a href="https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19">ÚZIS</a>,
        <a href="https://www.sukl.cz/tydenni-zpravy-o-prijatych-hlasenich-podezreni-na-nezadouci?fbclid=IwAR3CnIQ6wS_JXvLZ9TOwWW3w6y0HB0ZP_p3gwW9G7Lwy3h0-MMQ6V5NE6-g">SÚKL</a>
      </li>
      <li>
        Source code: <a href="https://github.com/ondraz/je-ockovani-bezpecne">je-ockovani-bezpecne</a>
      </li>
      <li>
        Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">flaticon.com</a>
      </li>
    </ul>

  </footer>
  <script src="{{ url_for('static', filename='js/vendor/modernizr-3.11.2.min.js') }}"></script>
</body>

</html>
