{% extends 'base.jinja2' %}

{% block header %}
  <h1>{% block title %}{{ gettext('Simple Stats') }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div>
    <p>{{ gettext('Time Period') }}: {{ date_from.date() }} - {{ date_for.date() }}</p>
  </div>
  <div>
    <p>{{ gettext('Cases Cumulative') }}: {{ cases }}</p>
  </div>
  <div>
    <p>{{ gettext('Contraindication Submits') }}: {{ submits }}</p>
  </div>
  <div>
    <p>{{ gettext('Dead') }}: {{ deads }}</p>
  </div>
  <div>
    <p>{{ gettext('Vaccinated') }}: {{ vaccines }}</p>
  </div>

  <div>
    <p>
      {{ gettext('Contraindications data updated') }} {{ date_for.date() }} from
      <a href="https://www.sukl.cz/tydenni-zpravy-o-prijatych-hlasenich-podezreni-na-nezadouci?fbclid=IwAR3CnIQ6wS_JXvLZ9TOwWW3w6y0HB0ZP_p3gwW9G7Lwy3h0-MMQ6V5NE6-g">SÚKL</a>.
      <br />
      {{ gettext('Covid data updated') }} {{ date_covid_update.date() }} from
      <a href="https://onemocneni-aktualne.mzcr.cz/api/v2/covid-19">ÚZIS</a>.      
    </p>
  </div>
{% endblock %}
